/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

:root {
    --viewport: calc(100vw/2);
    --rulesDetailsWidth: 190px;
    --viewportHeight: calc(100vh/2);
    --rulesDetailsHeight: 219.4px;
}

body {
    background-color: #1e3253;
    /* position: relative; */
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    ;
    list-style: none;
    color: white;
}


/******************************************
/* LAYOUT
/*******************************************/

/* SCORES */

#score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    border: 3px solid gray;
    border-radius: 7.5px;
    margin-bottom: 3.5rem;
    margin-inline: 10%;
}


#scoreBox {
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#scoreBox>span {
    color: #1e3253;
    font-size: small;
    font-weight: 500;
}

#scoreBox>span:nth-child(2) {
    font-size: xxx-large;
}


/* MAIN */

main {
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
    margin-bottom: 2.5rem;
    
}



#container {
    position: relative;
}

.selection {


    /* border: 10px solid red; */
    border-radius: 50%;
    width: 125px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: absolute;
    background-color: white;
    



}

.selection:hover {
    transform: scale(1.05);
}

.selection img {
    width: 100%;
    height: auto;
    margin: 1rem;

}



.scissors {
    /* opacity: .10; */
    top: -16.5%;
    left: 30.9%;
    border: 10px solid #ea9c13;
}

.spock {
    left: -12.5%;
    top: 16%;
    border: 10px solid #3fb7cc;

}


.paper {
    top: 16%;
    right: -12.5%;
    border: 10px solid #4666f3;
}

.lizard {
    left: 3.25%;
    bottom: -13.5%;
    border: 10px solid #754bde;
}

.rock {

    right: 03.25%;
    bottom: -13.5%;
    border: 10px solid #e03b58;
}


/* MOVE */


#move .selection {
    position: static;
    transform: none;
}

#move {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    margin-bottom: 2.5rem;
}

#left,
#right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 5%;
}

#left>div,
#right>div {
    margin-bottom: 2.25rem;

}

#left>span,
#right>span {
    font-weight: 500;
    font-size: large;
}

/* RESULTS */

#result {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

#result>span {
    font-size: xxx-large;
    font-weight: 500;
    margin-bottom: 1rem;
}

#result>button {
    padding: 1rem 3.25rem;
    border-radius: 7.5px;
    color: #1e3253;
    font-size: medium;
    font-weight: 500;
    border: none;
}

#result>button:hover {
    transform: scale(1.1);
}

/* rulesDetails */

#rulesDetails {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    align-items: center;
    padding: 1.25rem;
    margin: 0;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 7.5px;
    min-width: max-content; 
    position: fixed;     
    top: calc(var(--viewportHeight) - var(--rulesDetailsHeight));
    left:calc(var(--viewport) - var(--rulesDetailsWidth));

}

#rulesDetails>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

}

#rulesDetails aside {
    font-size: xx-large;
    font-weight: 500;
    color: #1e3253;
}

#rulesDetails img {
    margin-bottom: 1rem;
}

/* RUles BUtton */

#rules {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

#rules button {
    background-color: #1e3253;
    padding: 1rem 3rem;
    color: white;
    border: 2px solid white;
    border-radius: 7.5px;
    font-weight: 500;
}

#rules button:hover {
    transform: scale(1.05);
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (min-width: 1366px) {




    .selection {
        transform: scale(1.05);
    }

    .selection:hover {
        transform: scale(1.10);
    }

    #rules {
        justify-content: flex-end;
    }

    

}

@media screen  and (max-width: 440px){
    

    .pentagon img {
        transform: scale(.9);
    }

    .selection {
        transform: scale(.9);
    }

    .scissors {
        /* opacity: .25; */
        top: -10.75%;
        left: 31.95%;
        
    }
    
    .spock {
        /* opacity: .35; */
        left: -9.25%;
        top: 17.75%;
        
    
    }
    
    
    .paper {
        /* opacity: .25; */
        top: 17.75%;
        right: -9.25%;
        
    }
    
    .lizard {
        /* opacity: .35; */
        bottom: -8.5%;
        left: 3.25%;
        

    }
    
    .rock {
        /* opacity: .35; */
        right: 03.25%;
        bottom: -8.5%;
        
    }

    #left>span,
#right>span {
    font-weight: 500;
    font-size: small;
    
}
}